
cootek_sjtu/train.txt

cootek_sjtu/english.corpus

cootek_sjtu/test_data.txt

ans.txt

5120309701_谈兆炜_final.zip

archive/test.cpp

final/archive/main.py

final/archive/nlp.cpp

final/archive/test.cpp

final/nlp_project_report_tanzhaowei.pdf

final/nlp_std.cpp

final/readme.txt

final/nlp_train.cpp

final/res

final/std

report/nlp_project_report_tanzhaowei.aux

report/nlp_project_report_tanzhaowei.log

report/nlp_project_report_tanzhaowei.synctex.gz

report/nlp_project_report_tanzhaowei.tex

nlp_project_report_tanzhaowei.pdf

special_word.txt

names/README

names/female.txt

names/male.txt
